#!/usr/bin/env xdg-open
[Desktop Entry]
Name=IMBL pipeline 
Exec=/usr/local/bin/imbl-ui
Icon=/usr/local/share/imblproc/imbl-ui.png
Type=Application
Category=IMBL
